
/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

/* Special */
$background: #010104;
$foreground: #FDFF99;
$cursor: #F8CE92;

/* Colors */
$color0:  #010104;
$color1:  #090A1D;
$color2:  #090A1D;
$color3:  #1C3D51;
$color4:  #5D97BC;
$color5:  #F29E8A;
$color6:  #F3F590;
$color7:  #FBFD97;
$color8:  #A2A449;
$color9:  #090A1D;
$color10: #090A1D;
$color11: #1C3D51;
$color12: #5D97BC;
$color13: #F29E8A;
$color14: #F3F590;
$color15: #F4F5C2;

