tooltip {
  padding: 5px 10px;
  margin: 10px;
  margin-top: 0;
  background: $background-color;
  border-radius: 5px;
  /* border-bottom-right-radius: 10px; */
  border: 1px solid rgba(#ffffff, 0.3);
  /* border-top-width: 0; */
  box-shadow: 2px 2px 4px rgba(#000000, 0.3);
}