@import "color-schemes/catppuccin-mocha.scss";
/* @import "color-schemes/catppuccin-mocha.scss"; */
/* @import "color-schemes/catppuccin-mocha.scss"; */
/* @import "color-schemes/catppuccin-mocha.scss"; */

$bar-transparency: 0.84375;
$window-transparency: 0.85625;
$font-scale: 1;
/* $bar-radius: 15px; */
/* $border-radius: 5px; */
