@import "color-schemes/tokyo-night.scss";
/* @import "color-schemes/tokyo-night.scss"; */
/* @import "color-schemes/tokyo-night.scss"; */
/* @import "color-schemes/tokyo-night.scss"; */

$bar-transparency: 0.5;
$window-transparency: 0.5;
$font-scale: 1;
/* $bar-radius: 15px; */
/* $border-radius: 5px; */